<configuration>
	<packageSources>
		<add key="APICoreFeed" value="https://pkgs.dev.azure.com/test-organisation12/knowledge-sphere/_packaging/APICoreFeed/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<APICoreFeed>
			<add key="Username" value="v-naushad@outlook.com" />
			<add key="Password" value="F89IRDgq2BD54yFqVk2HB2DOUFMFLzfhQgfHPNqayYoppLStujFPJQQJ99BCACAAAAAAAAAAAAASAZDO1DzI" />
		</APICoreFeed>
	</packageSourceCredentials>
</configuration>
